@font-face {
    font-family: 'Cascadia Code';
    src: url('../fonts/CascadiaCode.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body{
    color:black;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
a {
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover {
    color: #EAF6F6;
}
.copyright {
    color:#EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0px;
}

h1 {
    color: #66bfbf;
    margin: 50px auto 0 auto;
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-size: 5.62em;
 /* 16px = 100% = 1em */
}

h2 {
    color: #66bfbf;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem ;
    font-weight: normal;
    padding-bottom: 10px;
}
h3 {
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
}
.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
    height: 100vh;
}
.middle-container {
    margin: 100px 0;

}
.bottom-container {
    background-color: #66bfbf;
    padding: 15px 0px 20px;

}
.bottom-cloud {
    position: relative;
    margin-left: 0px;
    top: 350px;
    right: 250px;
}
.top-cloud  {
    position: relative;
    left: 250px;
}
.mountain {
    margin: 0 auto 0 auto;
}
#pro {
    font-style:normal;
    text-decoration:underline;
}
.skill-row {
    width: 50%;
    height: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.chillies {
    width: 25%;
    float: left;
    margin: auto 20px;
}
.chillies-bottom {
    width: 25%;
    float: right;
    margin-left: 20px;

}
.intro {
    width: 30%;
    margin: auto;
}
p {
    line-height: 2;

}
hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto 100px auto;
}
.contact-message {
    width: 40%;
    margin: 40px auto 60px;

}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }