@font-face {
    font-family: 'Cascadia Code';
    src: url('../fonts/CascadiaCode.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body{
    margin: 0;
    text-align: center;
    font-family: 'Cascadia Code';
}
h1 {
    width: 10%;
    margin: auto;
    text-align: center;
}
.top-container {
    background-color:white;
    position: relative;
}
.middle-container {
    background-color: blue;
    width: 200px;
    height: 200px;
}
.bottom-container {
    background-color: red;
    width: 200px;
    height: 200px;
}
.bottom-cloud {
    position: relative;
    margin-left: 0px;
    top: 180px;
    right: 145px;
}
.top-cloud  {
    position: relative;
    left: 150px;
}
#pro {
    font-style: italic;
}
