@font-face {
    font-family: 'Cascadia Code';
    src: url('../fonts/CascadiaCode.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1 {
    width:;
    margin: auto;
    text-align: center;
    font-family: 'Sacramento', cursive;
    font-size: 5.62em;
}
h2 {
    font-family: 'Montserrat', sans-serif;
}
h3 {
    font-family: 'Montserrat', sans-serif;
}
.top-container {
    background-color: #277BC0;
    position: relative;
}
.middle-container {

}
.bottom-container {

}
.bottom-cloud {
    position: relative;
    margin-left: 0px;
    top: 150px;
    right: 145px;
}
.top-cloud  {
    position: relative;
    left: 150px;
}
.mountain {
    margin: 0 auto 0 auto;
}
#pro {
    font-style: italic;
}
